    <header class = "masthead">
      <div class = "intro-body">
        <div class = "container">
          <div class="row">
            <div class = "col-lg-8 mx-auto">
            <h1 class="brand-heading">Welcome to Lawspital</h1>
            <p class="intro-text">Lawspital</p>
            <a href = "#section" class = "btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </header>
    
<!--    <div class = "container">-->
<!--      <div class="input-group mb-3">-->
<!--        <div class="input-group-prepend">-->
<!--          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>-->
<!--          <div class="dropdown-menu">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--            <div role="separator" class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Separated link</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <input type="text" class="form-control" aria-label="Text input with dropdown button">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <section id = "boards">
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("Person.png", :alt => "person", :width => "140", :height => "140") %>
          <h2>Crimes against the person</h2>
            <i class="fas fa-car fa-10x"></i>
          <p>Assault · Battery · Criminal negligence · Home invasion · Homicide · Kidnapping · Negligent homicide · Public indecency · Robbery · Sexual assault · Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/1", controller: :posts, action: :show_category, class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <%= image_tag("House.png", :alt => "house", :width => "140", :height => "140") %>
          <h2>Crimes against property</h2>
          <p>Arson · Blackmail · Bribery · Burglary · Embezzlement · Extortion · Fraud · Pickpocketing · Possessing stolen property · Robbery · Smuggling · Tax evasion · Theft ·  Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/2", action: :show_category, class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <%= image_tag("Justice.png", :alt => "justice", :width => "140", :height => "140") %>
          <h2>Crimes against justice</h2>
          <p>Compounding · Malfeasance in office · Miscarriage of justice · Misprision · Obstruction · Perjury · Perverting the course of justice · Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/3", class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <%= image_tag("warning.png", :alt => "warning", :class => "rounded-circle", :width => "140", :height => "140") %>
          <h2>Victimless Crimes</h2>
          <p>Adultery · Apostasy · Dueling Fornication ·  Gambling · Incest ·  Lewd and lascivious behavior · Exhibitionism · Creation of obscenity · Prostitution · Illegal drugs · Sodomy · Suicide · Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/4", class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <%= image_tag("Animal.png", :alt => "animal", :class => "rounded-circle", :width => "140", :height => "140") %>
          <h2>Crimes against animals</h2>
          <p>Cruelty to animals · Wildlife · smuggling Bestiality · Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/5", class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <%= image_tag("more.png", :alt => "more", :width => "140", :height => "140") %>
          <h2>More</h2>
          <p>Automatism · Consent Defence of property · Diminished responsibility · Duress · Infancy · Insanity · Justification · Mistake of law · Necessity · Provocation · Self-defence · Others</p>
          <p>
            <%= link_to "Go to Page »", "/posts/6", class: "btn btn-secondary", role: "button" %>
          </p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </section>