<div class="container">
    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>
    
    <%= image_tag(@post.image.url, alt: "Image") if @post.image? %>
    <p>
      <strong>Image:</strong>
      <%= @post.image %>
    </p>
    
    <p>
      <strong>Content:</strong>
      <%= @post.content %>
    </p>
    
    <h2>Comments:</h2>
    
    <h3>Write new comment:</h3>
    <%= form_tag("/comments/create", method: "post") %>
      <%= label_tag(:content, "Content:") %>
      <%= text_field_tag(:content) %>
      <%= submit.tag("Submit") %>
    <% end %>
    <h3>Existing comments</h3>
    <% @post.comments.each_with_index do |c, i| %>
      <p><%= (i+1).to_s + " : " + c.content %></p>
      <% form_tag("/comments/destroy", method="post") %>
        <%= button_to "Delete Comment" %>
    <% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>